<div class="container-fluid pt-3">
    <div class="row">
        <div class="col col-md-6">
            <b>Dirección: </b>
            <br />
            <p>Calle {{data.address}} Número {{data.outdoor_number}} Entre {{data.between_streets}}
                <br>
                Colonia {{data.colony}} C.P {{data.postal_code}} {{data.county}}, {{data.state}}
            </p>
            <b>Teléfono: </b><span>{{ data.phone }}</span><br />
            <b>Email: </b><span>{{ data.email }}</span><br />
        </div>

        <div class="col col-md-6">
            <app-form-field type="textarea" styleInput="textarea" [options]="{rows: '8', path:'message', width: true}">
            </app-form-field>
            <br>
            <button class="btn btn-info" (click)="notifyClient()">Notificar</button>
        </div>
    </div>
    <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="Deudas" *ngIf="data.debt > 0">
            <ng-template ngbTabContent>
                <app-datatable [options]="dataTableDebts"></app-datatable>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Cargos">
            <ng-template ngbTabContent>
                <app-datatable [options]="dataTableCharges"></app-datatable>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>