<div class="modal-body" *ngIf="client !==undefined">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-form-field 
                    type="select" 
                    [options]="{
                        label: 'Tipo de págo',
                        width:12,
                        droptext: 'Seleccione una opción...',
                        elements: payment_types,
                        path:'payment_types'
                    }">
                </app-form-field>

                <!-- 
                    ESTE CAMPO SOLO DEBERIA APARECER SI:
                    1) Es 1er cargo
                    2) Es cargo regular, pero no tiene deudas
                -->
                <app-form-field 
                    *ngIf="data.client.debt < 1"
                    type="select" 
                    [options]="{
                        label: 'Pagar X meses por adelantado',
                        width:12,
                        droptext: 'Seleccione una opción...',
                        elements: months_ahead,
                        path:'months_ahead'
                    }">
                </app-form-field>
            </div>

            <div class="col">
                <h5>TOTAL</h5>
                <br>
                <div *ngIf="data.firstCharge">
                    <dl class="row">
                        <dt class="col-sm-3">Instalación</dt>
                        <dd class="col-sm-9">{{client.installation_fee /100 | currency}}</dd>
                        <dt class="col-sm-3">Deposito</dt>
                        <dd class="col-sm-9">{{data.contract.deposit | currency}}</dd>
                     </dl>
                </div>
                <div *ngIf="data.client.debt > 0">
                    <dl class="row">
                        <dt class="col-sm-3">Deuda</dt>
                        <dd class="col-sm-9">{{client.debt/100 | currency}}</dd>
                        <!-- <dt class="col-sm-3">Cuota de administración</dt>
                        <dd class="col-sm-9">$100.00</dd> -->
                        <dt class="col-sm-3">Total</dt>
                        <dd class="col-sm-9">{{(client.debt/100) | currency}}</dd>
                    </dl>
                </div>
                <div *ngIf="data.client.debt < 1">
                    <dl class="row">
                        <dt class="col-sm-3">Cuota mensual</dt>
                        <dd class="col-sm-9">{{data.contract.monthly_fee | currency}}</dd>
                        <!-- <dt class="col-sm-3">Cuota de administración</dt>
                        <dd class="col-sm-9">$100.00</dd> -->
                    </dl>
                    <div *ngIf="data.client.social_responsability == 1">
                        <dl class="row">
                            <dt class="col-sm-3">Responsabilidad Social</dt>
                            <dd class="col-sm-9">{{data.contract.sr | currency}}</dd>
                        </dl>
                    </div>
                    <!-- EL TOTAL ESTA MAL CALCULADO, SIEMPRE DEBERIA MOSTRAR EL COSTO DE CUANDOMENOS 1 MES -->
                    <dl class="row">
                        <dt class="col-sm-3">Total</dt>
                        <dd class="col-sm-9">{{totalOffline() | currency}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div *ngIf="this.form.dirty">
        <button type="button" class="btn btn-outline-danger" (click)="activeModal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-outline-success" [disabled]="form.invalid" (click)="offlinePayment()">Crear pago</button>
    </div>

    <div *ngIf="!this.form.dirty">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
    </div>
</div>