<div class="modal-body">
    <app-history [items]="history" type="tickets"></app-history>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('close button')">Cancelar</button>
</div>
