<div class="container-fluid border-bottom bg-white p-3 mb-4">
    <div class="col-sm-8">
        <h2 class="m-0">Mapa del seguimiento</h2>
    </div>
</div>
<div class="container-fluid bg-white p-3">
    <table class="table">
        <tbody>
            <tr> 
                <td>Abierto</td>
                <td><img src="assets\img\tickets_status\opened-marker-filter_change.png"/></td>
                <td><img src="assets\img\tickets_status\opened-marker-installation.png"/></td>
                <td><img src="assets\img\tickets_status\opened-marker-service_call.png"/></td>
            </tr>
            <tr>
                <td>Asignado</td>
                <td><img src="assets\img\tickets_status\assigned-marker-filter_change.png"/></td>
                <td><img src="assets\img\tickets_status\assigned-marker-installation.png"/></td>
                <td><img src="assets\img\tickets_status\assigned-marker-service_call.png"/></td>
            </tr>
            <tr>
                <td></td>
                <td>Cambio de filtros</td>
                <td>Instalación</td>
                <td>Soporte</td>
            </tr>
        </tbody>
    </table>
    
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="true">
        <ng-container *ngFor="let ticket of tickets">
            <agm-marker 
                *ngIf="ticket.client.coordinate !== null" 
                [title]="ticket.client.name"
                [iconUrl]="ticketStatusUrl(ticket.status, ticket.type)" 
                [latitude]="ticket.client.coordinate.latitude"
                [longitude]="ticket.client.coordinate.longitude" (markerClick)="clickedMarker(infowindow)">
                <agm-info-window [maxWidth]="400" #infowindow>
                    <dl class="row">
                        <dt class="col-sm-3">Nombre: </dt>
                        <dd class="col-sm-9">{{ticket.client.name}}</dd>
                        <dt class="col-sm-3">Teléfono: </dt>
                        <dd class="col-sm-9">{{ticket.client.phone}}</dd>
                        <dt class="col-sm-3">Correo: </dt>
                        <dd class="col-sm-9">{{ticket.client.email}}</dd>
                        <dt class="col-sm-3">Ticket #</dt>
                        <dd class="col-sm-9">{{ticket.id_tickets}} ({{ticket.type}})</dd>
                        <dt class="col-sm-3">Descripción: </dt>
                        <dd class="col-sm-9">{{ticket.description}}</dd>
                        <dt class="col-sm-3">Creado el: </dt>
                        <dd class="col-sm-9">{{ticket.description}}</dd>
                    </dl>
                    <div [ngSwitch]="(ticket.status)">
                        <div class="text-center" *ngSwitchCase="('opened')">
                            <button class="btn btn-success" (click)="assign(ticket)">Asignar</button>
                        </div>
                        <div class="text-center" *ngSwitchCase="('assigned')">
                            <button class="btn btn-danger" (click)="unassign(ticket)">Desasignar</button>
                            <button class="btn btn-primary" (click)="reassign(ticket)">Reasignar</button>
                        </div>
                    </div>
                </agm-info-window>
            </agm-marker>
        </ng-container>
    </agm-map>
</div>