.col-sm-6 {
    margin: 0 auto;
}
span.input-group-addon {
    text-align: center;
}

span.input-group-addon {
    padding: 6px 0px;
    border: 1px solid #e4e7ea;
    height: fit-content;
    width: 9%;
}
app-form-field {
    width: 91%;
}
.col-sm-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
.form-control{
    border-radius: 0px !important;
}
label.col-sm-12.col-form-label.font-weight-bold {
    display: none !important;
}

