<div class="container-fluid border-bottom bg-white p-3 mb-4">
    <h2>App Shares</h2>
    <canvas baseChart
    [datasets]="sharesByTypeChartData"
    [colors]="barChartColors"
    [options]="options"
    [chartType]="barChartType"></canvas>
</div>
