<div class="container-fluid border-bottom bg-white p-3 mb-4">
    <h2>App usage</h2>
</div>

<div class="container-fluid border-bottom bg-white p-3 mb-4" *ngIf="app_data">
    <h2>Clientes</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Versión</th>
                <th>Ultimo uso</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="app_data.clients.length > 0">
                <tr *ngFor="let data of app_data.clients">
                    <td>{{data.client?.name || data.id_clients}}</td>
                    <td>{{data.version}}</td>
                    <td>{{data.updated_at}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="container-fluid border-bottom bg-white p-3 mb-4" *ngIf="app_data">
    <h2>Invitados</h2>
    <br>
    <p>Son usuarios que han descargado la app, pero no iniciaron sesión.</p>
    <br>
    <p>Total: {{app_data.guests.length}}</p>
</div>