
span.input-group-addon {
    text-align: center;
}

span.input-group-addon {
    padding: 6px 0px;
    border: 1px solid #e4e7ea;
    height: fit-content;
    width: 9%;
}
app-form-field {
    width: 91%;
}
.form-control{
    border-radius: 0px !important;
}
