<br>
<div class="container-fluid" *ngIf="client && vendors">
    <ngb-tabset [destroyOnHide]="false">
        <ngb-tab title="Dirección principal">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col">
                        <app-form-field type="input" [options]="{label: 'Nombre', path: 'name'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'RFC', path: 'rfc'}"></app-form-field>
                        <app-form-field type="mask"  [options]="{label: 'Teléfono', mask:'(00) 0000-0000', path: 'phone'}"></app-form-field>
                        <app-form-field type="email" [options]="{label: 'Email', path: 'email'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Colonia', path: 'colony'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Calle', path: 'address'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Latitud', path: 'coordinate.latitude'}">
                        </app-form-field>
                    </div>

                    <div class="col">
                        <app-form-field type="input" [options]="{label: 'Número exterior', path: 'outdoor_number'}">
                        </app-form-field>
                        <app-form-field type="input" [options]="{label: 'Número interior', path: 'inside_number'}">
                        </app-form-field>
                        <app-form-field type="input" [options]="{label: 'Entre', path: 'between_streets'}">
                        </app-form-field>
                        <app-form-field type="input" [options]="{label: 'Código postal', path: 'postal_code'}">
                        </app-form-field>
                        <app-form-field type="input" [options]="{label: 'Estado', path: 'state'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Municipio', path: 'county'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Longitud', path: 'coordinate.longitude'}">
                        </app-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <app-form-field type="select" 
                        [options]="{
                            label: 'Vendor predeterminado',
                            path: 'vendor',
                            droptext: default_vendor,
                            elements: vendors
                        }"></app-form-field>
                    </div>

                    <div class="col-sm-6">
                        <app-form-field type="select" 
                        [options]="{
                            label: 'Asignar a grupo',
                            path: 'id_groups',
                            droptext: group,
                            elements: groups
                        }"></app-form-field>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-3">
                        <app-form-field type="image" 
                            [options]="{
                                width: '0',
                                path: 'images.id',
                                image: this.documents.id,
                                text:'Subir ID',
                                class: 'image-preview',
                                buttonVisible: 'true'
                            }"></app-form-field>
                    </div>
                    <div class="col-md-3">
                        <app-form-field type="image" 
                            [options]="{
                                width: '0',
                                path: 'images.id_reverse',
                                image: this.documents.id_reverse,
                                text:'Subir ID (atras)',
                                class: 'image-preview',
                                buttonVisible: 'true'
                            }"></app-form-field>
                    </div>
                    <div class="col-md-3">
                        <app-form-field type="image" 
                        [options]="{
                            width: '0',
                            path: 'images.proof_of_address',
                            image: this.documents.proof_of_address,
                            text:'Comprobante',
                            class: 'image-preview',
                            buttonVisible: 'true'
                        }"></app-form-field>
                    </div>
                    <div class="col-md-3">
                        <app-form-field type="image"
                        [options]="{
                            width: '0',
                            path: 'images.profile',
                            image: this.documents.profile,
                            text: 'Perfil',
                            class: 'image-preview',
                            buttonVisible: 'true'
                        }"></app-form-field>
                    </div>
                </div>

                <br>

                <h6>Datos extra(para Staff)</h6>
                <app-form-field type="textarea" styleInput="textarea"
                    [options]="{rows: '4', path:'extra_data', width: true}">
                </app-form-field>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Dirección de facturación">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col">
                        <app-form-field type="input" [options]="{label: 'Nombre', path: 'invoice_data.name'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'RFC', path: 'invoice_data.rfc'}"></app-form-field>
                        <app-form-field type="mask"  [options]="{label: 'Teléfono', mask:'(00) 0000-0000', path: 'invoice_data.phone'}"></app-form-field>
                        <app-form-field type="email" [options]="{label: 'Email', path: 'invoice_data.email'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Colonia', path: 'invoice_data.colony'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Calle', path: 'invoice_data.address'}"></app-form-field>
                    </div>

                    <div class="col">
                        <app-form-field type="input"
                            [options]="{label: 'Número exterior', path: 'invoice_data.outdoor_number'}">
                        </app-form-field>
                        <app-form-field type="input"
                            [options]="{label: 'Número interior', path: 'invoice_data.inside_number'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Entre', path: 'invoice_data.between_streets'}"></app-form-field>
                        <app-form-field type="input"
                            [options]="{label: 'Código postal', path: 'invoice_data.postal_code'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Estado', path: 'invoice_data.state'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Municipio', path: 'invoice_data.county'}"></app-form-field>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab *ngFor="let card of cards.controls; let i = index">
            <ng-template ngbTabTitle>
                <span [ngClass]="{'text-success': cards.value[i].default_card === 1 || cards.value[i].default_card === true}">Tarjeta #
                    {{cards.value[i].card_number}}</span>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col-sm-8">
                        <p class="text-position">**** **** ****<strong>{{cards.value[i].card_number}}</strong>
                            Exp: <strong>{{cards.value[i].exp_month}}/{{cards.value[i].exp_year}}</strong> </p>
                    </div>

                    <div class="col-sm-4">
                        <app-form-field type="radio" [options]="{
                            id:cards.value[i].id_cards,
                            label: 'Default',
                            default: cards.value[i].default_card,
                            path: 'cards.' + i + '.default_card'
                        }">
                        </app-form-field>
                    </div>

                    <div class="col">
                        <app-form-field type="input" [options]="{label: 'Nombre', path: 'cards.' + i + '.name'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Calle', path: 'cards.' + i + '.address'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Colonia', path: 'cards.' + i + '.colony'}"></app-form-field>
                        <app-form-field type="mask"  [options]="{label: 'Teléfono', mask:'(00) 0000-0000', path: 'cards.' + i + '.phone'}"></app-form-field>
                        <app-form-field type="email" [options]="{label: 'Email', path: 'cards.' + i + '.email'}"></app-form-field>
                    </div>

                    <div class="col">
                        <app-form-field type="input"
                            [options]="{label: 'Número exterior', path: 'cards.' + i + '.outdoor_number'}">
                        </app-form-field>
                        <app-form-field type="input"
                            [options]="{label: 'Número interior', path: 'cards.' + i + '.inside_number'}">
                        </app-form-field>
                        <app-form-field type="input"
                            [options]="{label: 'Código postal', path: 'cards.' + i + '.postal_code'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Estado', path: 'cards.' + i + '.state'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'Municipio', path: 'cards.' + i + '.county'}"></app-form-field>
                        <app-form-field type="input" [options]="{label: 'País', path: 'cards.' + i + '.country'}"></app-form-field>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

<br>

<div class="modal-footer">
    <div *ngIf="this.form.dirty">
        <button type="button" class="btn btn-outline-danger"
            (click)="activeModal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-outline-success" [disabled]="form.invalid"
            (click)="updateClient()">Actualizar cliente</button>
    </div>
    <div *ngIf="!this.form.dirty">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
    </div>
</div>