<p class="m-b-xs">
</p>
<ng-container [ngSwitch]="item.type">
    <app-assignations *ngSwitchCase="'assignations'" [item]="item"></app-assignations>
    <app-confirmations *ngSwitchCase="'confirmations'" [item]="item"></app-confirmations>
    <app-completions *ngSwitchCase="'completions'" [item]="item"></app-completions>
</ng-container>