<div class="modal-body">
    <div class="container-fluid">
        <h5>Precios propios</h5>
        <app-form-field type="input" [options]="{label:'Nombre', path: 'name'}"></app-form-field>
        <app-form-field type="input" [options]="{label:'Depósito', path: 'deposit'}"></app-form-field>
        <app-form-field type="input" [options]="{label:'Cuota de instalación', path: 'installation_fee'}">
        </app-form-field>
        <div class="row">
            <div class="col">
                <app-form-field type="input" [options]="{label:'Promoción', path:'trial_days'}"></app-form-field>
            </div>
            <div class="col">
                <app-form-field type="input" [options]="{label:'días a $', path: 'trial_days_price'}"></app-form-field>
            </div>
        </div>
        <app-form-field type="input" [options]="{label:'Cuota mensual', path: 'monthly_fee'}"></app-form-field>
    </div>

    <hr class="divider">

    <h5>Grupo para ventas</h5>
    <div class="row">
        <div class="col">
            <app-form-field type="select"
                [options]="{label:'Nombre', path: 'sign_into', droptext: group?.name, elements: groups}">
            </app-form-field>
        </div>
        <div class="col">
            <dl class="row">
                <dt class="col-sm-3">Nombre</dt>
                <dd class="col-sm-9">{{signIntoData.name}}</dd>
                <dt class="col-sm-3">Fecha de alta</dt>
                <dd class="col-sm-9">{{signIntoData.created_at}}</dd>
                <dt class="col-sm-3">Depósito</dt>
                <dd class="col-sm-9">{{signIntoData.deposit | currency}}</dd>
                <dt class="col-sm-3">Cuota de instalación</dt>
                <dd class="col-sm-9">{{signIntoData.installation_fee | currency}}</dd>
                <dt class="col-sm-3">Cuota mensual</dt>
                <dd class="col-sm-9">{{signIntoData.monthly_fee | currency}}</dd>
                <!-- <dt class="col-sm-3">Grupo para ventas</dt>
                    <dd class="col-sm-9"></dd> -->
            </dl>
        </div>
    </div>
</div>

<br>

<div class="modal-footer">
    <div *ngIf="this.form.dirty">
        <button type="button" class="btn btn-outline-danger"
            (click)="activeModal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-outline-success" [disabled]="form.invalid"
            (click)="save()">Guardar</button>
    </div>
    <div *ngIf="!this.form.dirty">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
    </div>
</div>