<!-- <div class="ibox-content table-responsive">
    <table class="table">
        <thead>
          <tr class="row">
            <th class="col-sm-6">Datos anteriores</th>
            <th class="col-sm-6">Datos actuales</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <td class="col-sm-6">
            <pre>
                {{before_data | json}}
            </pre>
            </td>
            <td class="col-sm-6">
                <pre>
                    {{after_data | json}}
                </pre>
            </td>
          </tr>
        </tbody>
      </table>
</div> -->
<div class="row">
  <div class="col-sm-6">
      <p>Datos anteriores</p>
  </div>
  
  <div class="col-sm-6">
    <p>Datos actuales</p>
  </div>
</div>

<br>

<div class="row">
    <div class="col-sm-6">
        <pre>{{before_data | json}}</pre>
    </div>

    <div class="col-sm-6">
        <pre>{{after_data | json}}</pre>
    </div>
</div>